[Unit]
Description=runtime-api

[Service]
WorkingDirectory=/workspace
ExecStart=/usr/bin/dotnet /workspace/build/net8.0/runtime-api.exe
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=runtime-api
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
